/* Shared Styles */
.inter-logo{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Header Styles */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-top: -7px;
}
/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.logo {
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: 900;
}
.signup-button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
    cursor: pointer;
}
.signup-button:hover{
    background-color: #f0c411;
    color: #453a14;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

/* Banner Styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}
.heading-text {
    font-size: 65px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-left: 267.5px;
    margin-right: 267.5px;
    margin-top: 150px;
    margin-bottom: 0;
}

.stay-focused-btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    width: 174px;
    height: 48px;
    margin-bottom: 150px;
}
.stay-focused-btn:hover{
    background-color: #f0c411;
    color: #453a14;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
/* Action Styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
    margin-top: 116px;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 141px;
}
.a-title {
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    margin-bottom: -20px;
}
.a-subtitle {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 25px;
}
.preview-btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    width: 229px;
    height: 48px;
    cursor: pointer;
}
.preview-btn:hover{
    background-color: #f0c411;
    color: #453a14;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.right-side {
    margin-right: 159px;
}
.webflow-conf-image {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* Productive Users Styles */
.productive-users {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-left: 141px;
    margin-right: 159px;
    margin-top: 116px;
    margin-bottom: 137px;
    padding: 50px 142px;
}
.users-title {
    font-size: 38px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    justify-content: center;
    margin-bottom: -20px;
}
.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 158px;
    margin-left: 142px;
    margin-right: 142px;
}
.data1, .data2, .data3 {
    text-align: center;
}
.fiftyk, .twom, .ninetyfive {
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: -40px;
}
.text1, .text2, .text3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
}
/* Feedback Styles */
.f-title {
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 151px;
    margin-right: 149px;
}
.stars{
    width: 116px;
    height: 20px;
}
.c-title {
    font-size: 25px;
    font-weight: bold;
    color: rgba(30, 30, 30, 1);
    margin-bottom: -15px;
}
.c-subtitle {
    font-size: 15px;
    font-weight: 350;
    color: rgba(30, 30, 30, 1);
    padding-right: 35px;
}
.card1, .card2, .card3 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    border: 1px solid rgba(242, 237, 237, 1);
    padding: 24px;
}
.reviewer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.rvr-name {
    font-size: 15px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
    margin-bottom: -15px;
}
.rvw-date{
    font-size: 14px;
    font-weight: 300;
    color: rgba(179, 179, 179, 1);
}
.rvr-image {
    object-fit: cover;     /* Ensures the image covers the container without distortion */
    border-radius: 50%;      /* Makes it a perfect circle */
}