/* Shared Styles */
.inter-logo{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Header Styles */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-top: -7px;
}
/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.logo {
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: 900;
}
.signup-button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
    cursor: pointer;
}
.signup-button:hover{
    color: #000;
}

/* Banner Styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}
.heading-text {
    font-size: 65px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-left: 267.5px;
    margin-right: 267.5px;
    margin-top: 150px;
    margin-bottom: 0;
}

.stay-focused-btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    width: 174px;
    height: 48px;
    margin-bottom: 150px;
}
/* Action Styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
    margin-top: 116px;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 141px;
}
.a-title {
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    margin-bottom: -20px;
}
.a-subtitle {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 25px;
}
.preview-btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    width: 229px;
    height: 48px;
}
.right-side {
    margin-right: 159px;
}
.webflow-conf-image {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}